a {
    text-decoration: none !important;
    color: white !important;
}

.icon-wpp {
    color: green !important;
}

.icon-lin {
    color: #0077B5 !important;
}

.icon-face {
    color: #3b5998 !important;
}